body{
    height: 2000px;

}
.carousel-inner{
    height: 900px;
}
.carousel-inner img{
    width: 300%;
    height: 300%;
}
.col-1{
    background-color: red;
    height: 150px;
}
.col-2{
    background-color: blue;
    height: 150px;
}
.col-3{
    background-color: aquamarine;
    height: 150px;
}
.col-4{
    background-color: khaki;
    height: 150px;
}

.card-img {
    object-fit: cover;
    height: 600px;
}

.number {
    display: inline-block;
    margin-top: 100px;
}